@import "compass/css3";
@import 'variables';


@import 'icons';
@import 'rev-slider';
@import 'footer';
@import 'side-menu';
@import 'testimonials';


#bitnami-banner {display:none;}


.qode_clients .qode_client_holder_inner:before, .qode_clients .qode_client_holder_inner:after{
    border-color: rgba(234,234,234,.3)
    }
    
    
    aside.sidebar .latest_post_holder.image_in_box .latest_post_text .latest_post_title a{
        font-weight: 600;
    }
    
    .social_share_title {
        display: inline-block;
        text-transform: uppercase;
        color: #666666;
    }

    
    div.comment_form {
        display: inline-block;
        margin: 0 0 100px;
        width: 100%;
    }
    
   aside .widget li {
        margin: 0 0 7px;
    }
    
    aside.sidebar .qode_latest_posts_widget h5, aside.sidebar .widget_categories h5 {
        font-size: 20px;
    }
    
    aside .widget h5 {
        margin-bottom: 30px;
    }
    
    .latest_post_inner .post_infos {
        display: block;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
    }

  